<section class="action-block action-block-a first-block">
  <div class="action-block-media">
    <figure>
      <img src="assets/sample/about_1.jpg">
    </figure>
  </div>
  <div class="action-block-contain">
    <h2>
      Real Ingredients
    </h2>
    <p>
      A napa cabbage weighting 1kg can only make two jars of kimchi!
    </p>
  </div>
</section>

<section class="action-block action-block-b">
  <div class="action-block-media">
    <figure>
      <img src="assets/sample/about_2.jpg">
    </figure>
  </div>
  <div class="action-block-contain">
    <h2>
      Authentic Food
    </h2>
    <p>
      Contain fresh napa cabbages, turnips, carrots, garlic, and chili peppers with rich sauces.
    </p>
  </div>
</section>

<section>
  <div class="fb-group">
    <iframe id="fb-group-iframe"
      [src]="safeSrc"
       style="border:none;overflow:hidden" scrolling="no" frameborder="0"
      allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  </div>
</section>