.navbar {
    padding: 0.5rem 1rem;
}

li {
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
    margin: auto;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.logo-img {
    position: relative;
    max-width: 10rem;
}

@media (max-width: 48rem) {
    .logo-img {
        margin-top: 2rem;
        transition-duration:1s;
    }

    .logo-on-top {
        padding: 2rem 0 2rem 0;
        max-width: 8rem;
        margin-top: 0rem;
        transition-duration:1s;
    }
}

a {
    color: goldenrod;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
}