<section class="action-block">
  <div class="action-block-media">
    <figure>
      <img src="assets/sample/orange_1.jpg">
    </figure>
  </div>
  <div class="action-block-contain">
    <h2>
      Orange Kimchi
    </h2>
    <table>
      <tr>
        <h3>
          INGREDIENTS
        </h3>
      </tr>
      <tr>
        <td>
          <p>NAPA CABBAGE, TURNIP, CARROT, RED CHILE PEPPER, GARLIC, MIRIN, VINEGAR, SESAME OIL, CHILI OIL, SUGAR, SALT,
            BONITO POWDER (MSG)</p>
        </td>
      </tr>
      <tr colspan="2">
        <hr>
      </tr>
      <tr>
        <h3>
          ALLERGY
        </h3>
      </tr>
      <tr>
        <td>
          <p>CONTAINS SESAME, FISH (BONITO). MAY CONTAIN SOYBEANS</p>
        </td>
      </tr>
    </table>
  </div>
</section>

<div class="nutrition">
  <img class="orange-nutrition">
</div>