/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top: 112px;
}

@media (max-width: 768px) {
    body {
        padding-top: 56px;
    }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

main#content {
    width: 100%;
    padding: 0 10vw;
}

.global-footer{
    position: relative;
    bottom: 0;
    padding: 2vh;
    color: #fff;
    background-color: black;
    text-align: center;
}