/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (min-width: 768px) {
    :root {
        --nav-height: 98px;
    }

    body {
        padding-top: var(--nav-height);
    }

    .global-footer {
        display: grid;
        max-height: 168px;
        padding: 24px 48px;
    }
}

@media (max-width: 768px) {
    :root {
        --nav-height: 56px;
    }

    body {
        padding-top: var(--nav-height);
    }

    .global-footer {
        padding: 24px;
    }
}

.global-content {
    width: 100%;
    padding: 0 10vw;
    flex: 1;
}

.global-footer {
    position: relative;
    bottom: 0;
    padding: 2vh;
    color: #fff;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    text-align: center;

    svg {
        height: 40px;
        width: 40px;
    }

    .footer-logo {
        position: relative;
        margin-bottom: 1rem;

        >img {
            position: relative;
            width: 168px;
        }
    }

    .footer-contact {
        position: relative;
        text-align: left;
        color: #fff;
    }
}