<div class="embed-video">
  <video #topVideo autoplay loop muted>
    <source src="assets/video/DancingKimchi.mp4">
  </video>
</div>

<h1>
  Breaking through tradition, handcrafted.
</h1>
<section class="action-block action-block-a">
  <div class="action-block-media">
    <figure>
      <img src="assets/sample/index_1.JPG">
    </figure>
  </div>
  <div class="action-block-contain">
    <h2>
      The Art of Appetizer
    </h2>
    <p>
      Learn to take a bite when it comes at you.
    </p>
  </div>
</section>

<section class="action-block action-block-b">
  <div class="action-block-media">
    <figure>
      <img src="assets/sample/index_2.JPG">
    </figure>
  </div>
  <div class="action-block-contain">
    <h2>
      Redefined Flavor
    </h2>
    <p>
      Kimchi is a gift and I don't intend on losing it.
    </p>
  </div>
</section>